
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.box > div {
  height: max-content !important;
  border-radius: 12px !important;
  font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  padding: 50px !important;
  width: 550px !important;
  margin: 0 !important;
  color: #000;
  background-color:  #e9ecef;
}

.box > div > form > div input {
  border-radius: 12px !important;
  // background-color: #e2e3e5;
  // background-color:  #e9ecef;
  border-color: #000;
}

.box > div > form > div input:focus {
  border-radius: 12px !important;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-color: #000;
  // background-color: #e9ecef;
  border-width: 1.5px;
}

.box > div > form > div small a {
 color: #000;
}

.box > div > form button {
  margin-top: 2em !important;
  border-radius: 12px !important;
  background-color: #000 ;
  border-color: #000;
  color: #fff;
}

.box > div > form button:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.box > div > div > form > div > div > div >input {
  border-radius: 12px !important;
  border-color: #000;
  // background-color: #e9ecef;
  // background-color: #e2e3e5;

}

.box > div > div > form > div > div > div >input:focus {
  border-radius: 12px !important;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-color: #000;
  // background-color: #e9ecef;
  border-width: 1.5px;
}

.box > div > div > form > div > div > button {
  margin-top: 2em !important;
  border-radius: 12px !important;
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.box > div > div > form > div > div > button:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.box > div > div > div > div > button {
  margin-top: 2em !important;
  border-radius: 12px !important;
  background-color: #000;
  border-color: #000;
  color: #fff ;
}

.box > div > div > div > div > button:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.box > div > div > div > div > div > button {
  margin-top: 2em !important;
  border-radius: 12px !important;
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.box > div > div > div > div > div > button:hover {
  background-color: #343a40;
  border-color: #343a40;
}
